.hero {
  padding: 203px 0;
  min-height: 850px;
  color: var(--dark-color);
  background-image: url("../img/hero-bg.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;

  &__content {
    grid-column: 8 span;

    @include mobile {
      grid-column: 10 span;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 80px;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    white-space: pre-line;
    text-transform: uppercase;

    @include small-tablet {
      font-size: 38px;
      line-height: 48px;
    }
  }

  &__list {
    flex-direction: column;
    margin-bottom: 80px;
    gap: 10px;
  }

  &__item {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--dark-color);

    &:first-child {
      font-weight: 600;
    }
  }

  &_btns {
    gap: 30px;
  }

  @include small-tablet {
    background-position-x: 65%;
  }

  @include mobile {
    padding: 120px 0;
    background-position-x: 60%;
  }
}
