/* stylelint-disable declaration-block-no-redundant-longhand-properties */
.order {
  color: var(--light-color);
  background: var(--steps-bg-color);

  &__form {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      "select mail name"
      "range range attach"
      ". send .";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-bottom: 150px;
  }

  &__input {
    border: 1px solid var(--light-color);
    border-radius: 3px;
    padding: 0 10px;
    width: 370px;
    height: 48px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--dark-color);
    background: var(--form-input-bg-color);

    &--select {
      grid-area: select;
    }

    &--mail {
      grid-area: mail;
    }

    &--name {
      grid-area: name;
    }

    &--range {
      grid-area: range;
      width: 100%;
      height: 48px;
    }

    &--line {
      width: 100%;
    }
  }

  &__btn {
    width: 370px;
    height: 48px;
    font-size: 15px;
    line-height: 18px;

    &--attach {
      grid-area: attach;
    }

    &--send {
      grid-area: send;
    }
  }
}

.range {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__output {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

input[type="range"] {
  appearance: none;
  border: none;
  width: 100%;
  height: 10px;
  background-color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  position: relative;
  bottom: 8px;
  border: 3px solid var(--border-circle-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: var(--primary-color);
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  border: 1px solid var(--light-color);
  border-radius: 5px;
  width: 100%;
  height: 5px;
  background: var(--form-input-bg-color);
}
