/* stylelint-disable declaration-block-no-redundant-longhand-properties */
.order {
  color: var(--light-color);

  &__form {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      "select mail name"
      "range range attach"
      ". send .";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-bottom: 120px;

    @include tablet {
      padding-bottom: 100px;
    }

    @include mobile {
      grid-template-areas:
        "select"
        "mail"
        "name"
        "range"
        "attach"
        "send";
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
      padding-bottom: 120px;
    }
  }

  &__input {
    border: 1px solid var(--light-color);
    border-radius: 3px;
    padding: 0 10px;
    width: 100%;
    height: 48px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--dark-color);
    background: var(--form-input-bg-color);

    &--select {
      grid-area: select;
    }

    &--mail {
      grid-area: mail;
    }

    &--name {
      grid-area: name;
    }

    &--range {
      grid-area: range;
      width: 100%;
      height: 48px;
    }

    &--line {
      width: 100%;
    }
  }

  &__btn {
    width: 100%;
    height: 48px;
    font-size: 15px;
    line-height: 18px;

    &--attach {
      grid-area: attach;
    }

    &--send {
      grid-area: send;
    }
  }
}

.range {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__output {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--light-color);
  }
}

input[type="range"] {
  appearance: none;
  border: none;
  width: 100%;
  height: 10px;
  background-color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  position: relative;
  bottom: 8px;
  border: 3px solid var(--border-circle-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: var(--primary-color);
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  border: 1px solid var(--light-color);
  border-radius: 5px;
  width: 100%;
  height: 5px;
  background: var(--form-input-bg-color);
}

.order__select {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 48px;

  &[data-state="active"] {
    .order__select__title {
      &::before {
        transform: translate(-3px, -50%) rotate(-45deg);
      }

      &::after {
        transform: translate(3px, -50%) rotate(45deg);
      }
    }

    .order__select__content {
      opacity: 1;
    }

    .order__select__label + .order__select__input + .order__select__label {
      border-top-width: 1px;
      max-height: 40px;
    }
  }
}

.order__select__title {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  height: 100%;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 16px;
    top: 50%;
    display: block;
    width: 10px;
    height: 2px;
    background-color: var(--dark-color);
    transform: translate(-3px, -50%) rotate(45deg);
    transition: all 0.3s ease-out;
  }

  &::after {
    transform: translate(3px, -50%) rotate(-45deg);
  }

  &:hover {
    border-color: var(--dark-color);

    &::before,
    &::after {
      background-color: var(--dark-color);
    }
  }
}

.order__select__content {
  position: absolute;
  left: 0;
  top: 48px;
  z-index: 8;
  display: flex;
  flex-direction: column;
  border-top: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;
  background-color: #fff;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.order__select__input {
  display: none;

  &:disabled + label {
    opacity: 0.6;
    pointer-events: none;
  }
}

.order__select__label {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0 16px;
  width: 100%;
  height: 40px;
  max-height: 0;
  transition: all 0.2s ease-out;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: var(--primary-color);
  }

  &:last-child:hover {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
