<footer class="footer">
  <div class="container footer__container grid">
    <div class="footer__section footer__section--policy">
      © 2018 «LoremIpsum.net» Все права защищены.
    </div>
    <div class="footer__section--divider footer__section--divider-first"></div>
    <div class="footer__section footer__section--payment">
      <ul class="list-reset footer__list flex">
        <li class="footer__item">
          <object
            type="image/svg+xml"
            data="img/svg/qiwi-icon.svg"
            width="20"
            height="20"
            alt="icon"
          ></object>
          <span>Qiwi wallet</span>
        </li>
        <li class="footer__item">
          <object
            type="image/svg+xml"
            data="img/svg/yandex-icon.svg"
            width="20"
            height="20"
            alt="icon"
          ></object>
          <span>Yandex Money</span>
        </li>
        <li class="footer__item">
          <object
            type="image/svg+xml"
            data="img/svg/wbm-icon.svg"
            width="20"
            height="20"
            alt="icon"
          ></object>
          <span>Web Money</span>
        </li>
      </ul>
    </div>
    <div class="footer__section--divider footer__section--divider-second"></div>
    <div class="footer__section footer__section--social">
      <ul class="list-reset footer__list flex">
        <li class="footer__item">
          <object
            type="image/svg+xml"
            data="img/svg/mail-icon.svg"
            width="20"
            height="20"
            alt="icon"
          ></object>
          <a href="#" class="footer__link">info@ipsum228.com</a>
        </li>
        <li class="footer__item">
          <object
            type="image/svg+xml"
            data="img/svg/vk-icon.svg"
            width="20"
            height="20"
            alt="icon"
          ></object>
          <a href="#" class="footer__link">Мы вконтакте</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
