<header class="header header--position">
  <div class="container flex header__container">
    <a href="#" class="logo">
      <img src="img/svg/logo.svg" alt="lorem-logo" />
    </a>
    <nav class="nav flex" title="Main navigation" data-menu>
      <ul class="list-reset nav__list flex">
        <li class="nav__item" data-menu-item>
          <a href="#" class="nav__link nav__link--active">Бизнес</a>
        </li>
        <li class="nav__item"><a href="#" class="nav__link" data-menu-item>О нас</a></li>
        <li class="nav__item"><a href="#" class="nav__link" data-menu-item>Цены</a></li>
        <li class="nav__item" data-menu-item>
          <a href="#" class="nav__link">Оформить заказ</a>
        </li>
      </ul>
    </nav>
    <button
      class="burger"
      aria-label="Открыть меню"
      aria-expanded="false"
      data-burger
    >
      <span class="burger__line"></span>
    </button>
  </div>
</header>
