<section class="hero">
  <div class="container grid">
    <div class="hero__content">
      <h1 class="hero__title">
        <span class="marked">Lorem ipsum</span> dolor sit
        amet consectetur <span class="marked">adipiscing</span>
      </h1>
      <ul class="list-reset hero__list flex">
        <li class="hero__item">
          At vero eos et accusamus et iusto odio dignissimos ducimus!
        </li>
        <li class="hero__item">- Totam rem aperiam eaque ipsa</li>
        <li class="hero__item">
          - Sit voluptatem accusantium doloremque laudantium
        </li>
        <li class="hero__item">
          - Sed ut perspiciatis, unde omnis iste natus error
        </li>
      </ul>
      <div class="hero_btns flex">
        <button type="button" class="btn hero__btn">Заказать</button>
        <button type="button" class="btn hero__btn">Подробнее</button>
      </div>
    </div>
  </div>
</section>
