<section class="order">
  <div class="container order">
    <form action="#" class="form order__form">
      <select class="input-reset order__input order__input--select">
        <option selected disabled>Выберите тип системы</option>
        <option>Вариант 1</option>
        <option>Вариант 2</option>
        <option>Вариант 3</option>
      </select>
      <input
        type="email"
        class="input-reset order__input order__input--mail"
        placeholder="Ваш e-mail"
      />
      <input
        type="text"
        class="input-reset order__input order__input--name"
        placeholder="Ваше имя"
      />
      <div class="range order__input--range">
        <div class="range__output">
          <label class="range__label" for="range-input"
            >Sed ut perspiciatis, unde omnis iste natus</label
          >
          <output class="range__output--value">75%</output>
        </div>
        <input
          type="range"
          class="order__input--line"
          min="0"
          max="100"
          value="75"
        />
      </div>
      <button class="btn btn-reset order__btn order__btn--attach">
        <img src="img/svg/attach.svg" alt="attach">&nbsp;
        Прикрепить файл
      </button>
      <button class="btn btn-reset order__btn order__btn--send btn--active">Отправить</button>
    </form>
  </div>
</section>
