<section class="order">
  <div class="container order">
    <form action="#" class="form order__form">
      <div class="input-reset order__input order__input--select order__select" data-state="">
        <div class="order__select__title" data-default="Option 0">Выберите тип системы</div>
        <div class="order__select__content">
          <input
            id="singleSelect0"
            class="order__select__input"
            type="radio"
            name="singleSelect0"
            checked
          />
          <label for="singleSelect0" class="order__select__label">Option 0</label>
          <input
            id="singleSelect1"
            class="order__select__input"
            type="radio"
            name="singleSelect1"
          />
          <label for="singleSelect1" class="order__select__label">Option 1</label>
          <input
            id="singleSelect2"
            class="order__select__input"
            type="radio"
            name="singleSelect2"
          />
          <label for="singleSelect1" class="order__select__label">Option 2</label>
          <input
            id="singleSelect3"
            class="order__select__input"
            type="radio"
            name="singleSelect3"
          />
          <label for="singleSelect1" class="order__select__label">Option 3</label>
          <input
            id="singleSelect4"
            class="order__select__input"
            type="radio"
            name="singleSelect4"
          />
          <label for="singleSelect1" class="order__select__label">Option 4</label>
          <input
            id="singleSelect5"
            class="order__select__input"
            type="radio"
            name="singleSelect5"
          />
          <label for="singleSelect1" class="order__select__label">Option 5</label>
        </div>
      </div>
      <input
        type="email"
        name="email"
        class="input-reset order__input order__input--mail"
        placeholder="Ваш e-mail"
      />
      <input
        type="text"
        name="name"
        class="input-reset order__input order__input--name"
        placeholder="Ваше имя"
      />
      <div class="range order__input--range">
        <div class="range__output">
          <label class="range__label" for="range-input"
            >Sed ut perspiciatis, unde omnis iste natus</label
          >
          <output class="range__output--value js-range-output">75%</output>
        </div>
        <input
          type="range"
          class="order__input--line js-range-input"
          min="0"
          max="100"
          value="75"
        />
      </div>
      <input
        type="file"
        name="attach"
        id="file-input"
        style="display: none;">
      <label for="file-input" class="btn btn-reset order__btn order__btn--attach file-label">
        <img src="img/svg/attach.svg" alt="attach" />&nbsp; Прикрепить файл
      </label>
      <button class="btn btn-reset order__btn order__btn--send btn--active">
        Отправить
      </button>
    </form>
  </div>
</section>
