<section class="steps">
  <div class="container">
    <h2 class="steps__title">
      Оформление&nbsp;
      <span class="marked">Заказа</span>
    </h2>
    <p class="steps__subtitle">
      Перед заполнением формы ознакомьтесь с нашей схемой работы!
    </p>
    <ul class="list-reset steps__list flex">
      <li class="steps__item">
        <div class="steps__circle">
          <img src="img/svg/search.svg" width="30" height="30" alt="search" />
        </div>
        <p class="steps__description">Lorem ipsum dolor sit amet</p>
      </li>
      <li class="steps__item--dots" aria-hidden="true"></li>
      <li class="steps__item">
        <div class="steps__circle">
          <img src="img/svg/percent.svg" width="30" height="30" alt="percent" />
        </div>
        <p class="steps__description">Сonsecteturadipiscing elit</p>
      </li>
      <li class="steps__item--dots" aria-hidden="true"></li>
      <li class="steps__item">
        <div class="steps__circle">
          <img src="img/svg/list.svg" width="30" height="30" alt="list" />
        </div>
        <p class="steps__description">Sed do eiusmod tempor</p>
      </li>
      <li class="steps__item--dots" aria-hidden="true"></li>
      <li class="steps__item">
        <div class="steps__circle">
          <img src="img/svg/mail.svg" width="30" height="30" alt="mail" />
        </div>
        <p class="steps__description">Esse cillum dolore eu fugiat</p>
      </li>
      <li class="steps__item--dots" aria-hidden="true"></li>
      <li class="steps__item">
        <div class="steps__circle">
          <img src="img/svg/dollar.svg" width="30" height="30" alt="dollar" />
        </div>
        <p class="steps__description">
          Excepteur sint occaecat cupidatat non proident
        </p>
      </li>
    </ul>
  </div>
</section>
