// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Lato", sans-serif;
  --font-family-second: "Lato", sans-serif;
  --content-width: 1172px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --offset: 32px;

  // colors
  --primary-color: #43abf0;
  --dark-color: #2a2b30;
  --light-color: #fff;
  --light-gray-color: #bbb;
  --header-bg-color: rgba(16 16 29 / 90%);
  --steps-bg-color: #272733;
  --border-btn-color: #6f6d7b;
  --border-circle-color: #286690;
  --form-input-bg-color: rgba(255 255 255 / 85%);

  // font sizes
  --link-size: 13px;
}
